/* ****************************************
        -----------------------------      
                STYLE COMMON
        -----------------------------
***************************************** */

/* ------------------------------
            LAYOUT
------------------------------- */
.container {
    width: 100vw;
    height: 100vh;
    padding: 0 30px;}

.col {width: 100%; border-radius: 25px;}

.content {padding: 25px;}

        /*  FINE  */

/* **************************** */
    /* ---   SECTIONS   --- */
/* **************************** */

body {
    height: 100vh;
    margin: 0;
    background: linear-gradient(to bottom, var(--bg-first) 20%, var(--bg-second) 20%);
}


/* ------------------------------
          HEADER
------------------------------ */

        /* FINE  */

/* ------------------------------
           MAIN
------------------------------- */
#app .container





        /* FINE  */

/* ------------------------------
          FOOTER
------------------------------- */

        /* FINE  */


       

/* ------------------------------
         *** FINE ***
------------------------------- */


