/* ****************************************
        -----------------------------      
                STYLE COMMON
        -----------------------------
***************************************** */

/* **************************** */
    /* ---   LAYOUT   --- */
/* **************************** */
main {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to bottom, var(--bg-first) 20%, var(--bg-second) 20%);
}

.chat, .list, .container, .row {height: 100%;}

.row {display: flex;}

/* **************************** */
    /* ---   SECTIONS   --- */
/* **************************** */

/* SIDEBAR LIST */
/* NON VISIBILE SU MOBILE */
.list {display: none;}




/* CONTENITORE CHAT SUPERIORE */

.chat__top, .list__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 .9375rem;
    /* width: 100%; */
    background-color: var(--color-top-bar);
}

/* FOTO USER */
figure.user__avatar {
    display: flex;
    padding: 0 .9375rem;
    width: 5.5rem;
    height: 5.5rem;
}

.user__name {flex-shrink: 0;}

.user__avatar img {
    margin: auto;
    flex-shrink: 0;
    border-radius: 50%; 
    width: 90%; 
    height: auto;
}

.tools i {
    display: none;
    padding: 0 .5rem;
    font-size: 1.125rem;
    color: var(--color-icon-top-bar);
}

/* NAME USER */
.user__name {margin: auto .625rem;}
.user__name h2 {
    padding: 0 1.5625rem;
    color: var(--color-text-primary);
}

.user__name p {
    line-height: 1.8;
    padding: 0 1.5625rem;
    color: var(--color-text-secondary);
}

.content__chat .tools {display: none;}


/* CONTENITORE DEI MESSAGGI */

.content__chat {
    background: center/cover, url("../../img/mine.jpg");
    /* width: 100%; */
    height: calc(100% - 10.9375rem);
}

.content__chat ul {
    display: flex;
    flex-direction: column;
}

.content__text-area{
    display: flex;
    max-width: 70%;
    border-radius: .9375rem;
}


.content__text-area__in {background-color: var(--color-message-out); align-self: flex-end;}


.content__text-area__out {background-color: var(--color-message-in);align-self: flex-start}

.text-area__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.content__text-area p {color: var(--color-text-primary);}

.text-area__info i, .text-area__info span {padding: .625rem; color: var(--color-text-secondary);}

.text-area__info span {font-size: .75rem;}


/* BARRA INFERIORE PER SCRIVERE IL MESSAGGIO */
.content__message {
    /* width: 100%; */
    height: 4.6875rem;
    background-color: var(--color-bottom-bar);
}

.content__message{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

/* NON VISIBILE SU MOBILE */
.content__message i.fas {display: none;}


.content__message input {
    /* width: 95%; */
    height: 60%;
    border-radius: .3125rem;
    border: none;
    padding-left: 1.5625rem;
}

.content__message input::placeholder {
    font-size: .9375rem;
    color: var(--color-text-message);
}

/* ------------------------------
         *** FINE ***
------------------------------- */


