/* ---------------------------------
         *** RESPONSIVE ***
---------------------------------- */

   /* *************************** 
                DESKTOP
   **************************** */
        /* *** DEBUG  *** */
@media screen and (min-width: 992px) {
    .debug header::before {
        content: 'DESKTOP';
        background-color: orange;
    }
            /* FINE */
    
        /* *** ???  *** */


            /* FINE */






}




   /* ***********************
        DESKTOP LARGE
   *********************** */

@media screen and (min-width: 1200px) {
    .debug header::before {
        content: 'DESKTOP LARGE';
        background-color: red;
        }

    .container {max-width: 1200px;}


}


        /* FINE  */

/* ------------------------------
          *** FINE ***
------------------------------- */



   
   