/* -------------------------
    *** RESPONSIVE ***
-------------------------- */

   /* ************** 
        DESKTOP
   *************** */

@media screen and (min-width: 1140px) {
.debug header::before {
content: 'DESKTOP';
background-color: orange;
}
/* container */







}

      /* FINE  */



   /* ***************
      DESKTOP LARGE
   *************** */

@media screen and (min-width: 1200px) {
.debug header::before {
content: 'DESKTOP LARGE';
background-color: red;
}

.container {max-width: 1200px;}


}


        /* FINE  */

/* ------------------------------
       *** FINE ***
------------------------------- */



   
   
   
   /* ************** 
        DESKTOP
   *************** */

   @media screen and (min-width: 1140px) {
    .debug header::before {
    content: 'DESKTOP';
    background-color: orange;
    }
    /* container */
    
    
    
    
    
    
    
    }
    
    
    
    
       /* ***************
          DESKTOP LARGE
       *************** */
    
    @media screen and (min-width: 1200px) {
    .debug header::before {
    content: 'DESKTOP LARGE';
    background-color: red;
    }
    
    .container {max-width: 1200px;}
    
    
    }
    
    